<h2><%= @trip.duration %><br></h2>
<h2><%= @trip.start_date %><br></h2>
<h2><%= @trip.start_station %><br></h2>
<h2><%= @trip.end_date %><br></h2>
<h2><%= @trip.end_station %><br></h2>
<h2><%= @trip.bike_id %><br></h2>
<h2><%= @trip.subscription_type %><br></h2>
<h2><%= @trip.zip_code %><br></h2>
